h1 {
    color: black;
}
html{
    height: 100%;
    background-image: linear-gradient(to bottom, white, darkgreen);
	
}

img{
	width: 75%;
	height: 37.5%;
}
.bodyText{
    background-color: #efefef;
    height: 93%;
    width: 50%;
    border-style: transparent;
    border-width: 2px;
    margin-left: 25%;
	margin-top: 1%;
	text-align: left;
}

.class{
	border-style: solid;
    border-width: 2px;
	border-color: #003d00;
    border-radius: 10px;
	margin-left: 15%;
	width: 70%;
	height: 20%;
	font-size: 500%;
	text-align: center;
	font-family: Arial, Helvetica, serif;
}

.gsaClass{
	border-style: solid;
    border-width: 2px;
    margin-left: 5%;
	width: 100%;
	height: 10%;
	font-size: 500%;
	text-align: center;
}

.navBar{
	border-style: solid;
    border-width: 2px;
	border-color: #003d00;
	border-radius: 10px;
    margin-left: 15%;
	margin-top: -3%;
	width: 70%;
	height: 2%;
	font-size: 100%;
	text-align: center;
	font-family: Helvetica, Arial, serif;
}

.body{
    height: 80%;
    width: 50%;
    border-style: solid;
    border-width: 2px;
	border-color: #003d00;
	border-radius: 10px;
    margin-left: 25%;
	margin-top: 1%;
	font-family: Helvetica, Arial, serif;
}

.imgPadding{
	margin-left: 25%;
}